<!-- start footer Area -->
<footer class="footer-area">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="footer-social  align-items-center">
        <div class="row justify-content-center align-items-center mb-30">
          <object id="svg1" data="./assets/svg/logo-white.svg" type="image/svg+xml" height="45px"></object>
        </div>
        <div class="row justify-content-center align-items-center">
          <a href="#">
            <object id="svg1" data="./assets/svg/icon_social1.svg" type="image/svg+xml" height="20px"></object>
          </a>
          <a href="#">
            <object id="svg1" data="./assets/svg/icon_social2.svg" type="image/svg+xml" height="20px"></object>
          </a>
          <a href="#">
            <object id="svg1" data="./assets/svg/icon_social3.svg" type="image/svg+xml" height="20px"></object>
          </a>
          <a href="#">
            <object id="svg1" data="./assets/svg/icon_social4.svg" type="image/svg+xml" height="20px"></object>
          </a>

        </div>

        <div class="container d-flex">
          <div class="textboxart text-center">
            <p>
              <font color="white">
                <div class="footerabout">
                  <a class="text-white" href="">OUR STORY</a>
                </div>
                <div class="footerabout">|</div>
                <div class="footerabout">
                  <a class="text-white" href="">CONTACT US</a>
                </div>
                <div class="footerabout">|</div>
                <div class="footerabout">
                  <a class="text-white" href="">SITE MAP</a>
                </div>
                <div class="footerabout vline-breaker">|</div>
                <div class="footerabout">
                  <a class="text-white" href="">TERMS & CONDITIONS</a>
                </div>
                <div class="footerabout">|</div>
                <div class="footerabout">
                  <a class="text-white" href="">PRIVACY POLICY</a>
                </div>

              </font>
            </p>

          </div>
        </div>
        <div class="row justify-content-center align-items-center">
          <p>
            <font color="white" size="1">Copyright &copy;
              {{year | date:'yyyy'}} wordoftravel</font>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End footer Area -->