<app-signin>
</app-signin>
<app-header></app-header>
<app-about-area></app-about-area>
<!--Feature-destination-->
<section class="project-area section-gap" id="featured">
  <hr class="mb-80" />
  <div class="travelarticles">
    <div class="boxart d-flex">

      <div class="row no-margin col-md-9 col-12">
        <div class="row no-margin titlecolor1 ">FEATURED
          <div class="titlecolor">&nbsp; DESTINATIONS</div>
        </div>

      </div>
      <div class="col-md-3 col-12">
        <div class="mb-30 buttonright">
          <a href="#secvice" class="btn-titleright">MORE DESTINATIONS</a>
        </div>
      </div>
    </div>

    <app-featured-destination></app-featured-destination>
  </div>
</section>
<!--End-Feature-destination-->
<!-- Start Travel Articles Area -->
<section class="project-area section-gap mb-60" id="articles">
  <div class="travelarticles">
    <div class="boxart d-flex">

      <div class="row no-margin col-md-9 col-12">
        <div class="row no-margin titlecolor1 ">THINK DIFFERENTLY WITH OUR
          <div class="titlecolor">&nbsp; TRAVEL ARTICLES</div>
        </div>

        <div class="subheadtext mb-30">Exploring topics to help you think of your travel experience in a different way!</div>
      </div>
      <div class="col-md-3 col-12">
        <div class="mb-30 buttonright">
          <a href="#secvice" class="btn-titleright2">OTHER ARTICLES</a>
        </div>
      </div>
    </div>
    <app-travel-articles></app-travel-articles>
  </div>
</section>
<!-- End Travel Articles Area -->
<!-- Start Destination Area -->
<section class="project-area section-gap mb-49" id="explore">
	<div class="travelarticles">
		<div class="boxart d-flex">
			<div class="row no-margin col-md-9 col-12 mb-20">
				<div class="row no-margin titlecolor1 ">EXPLORE GREAT
					<div class="titlecolor">&nbsp; DESTINATIONS</div>
				</div>

			</div>
			<div class="col-md-3 col-12 mb-20">
				<div class="mb-30 buttonright">
					<a href="#secvice" class="btn-titleright3">ALL REGIONS</a>
				</div>
			</div>
			<div class="col-md-12 col-12">
				<div class="owl-carousel">
					<div class="">
						<div class="text-center">
							<img class="img-fluid" src="./assets/img/img_des1.jpg" alt="">
						</div>
						<div class="img-caption text-center">
							<div class="dest_texthead">AFRICA</div>
							<div class="dest_texthead">
								<a href="wordoftravel/specific-destination" class="btn-destreadmore">READ MORE</a>
							</div>

						</div>

					</div>
					<div class=" ">
						<div class="text-center">
							<img class="img-fluid" src="./assets/img/img_des2.jpg" alt="">
						</div>
						<div class="img-caption img-fluid text-center">
							<div class="dest_texthead">ASIA</div>
							<div class="dest_texthead">
								<a href="wordoftravel/specific-destination" class="btn-destreadmore">READ MORE</a>
							</div>

						</div>
					</div>
					<div class=" ">
						<div class="text-center">
							<img class="img-fluid" src="./assets/img/img_des3.jpg" alt="">
						</div>
						<div class="img-caption text-center">
							<div class="dest_texthead">AUSTRALIA</div>
							<div class="dest_texthead">
								<a href="wordoftravel/specific-destination" class="btn-destreadmore">READ MORE</a>
							</div>

						</div>

					</div>
					<div class=" ">
						<div class="text-center">
							<img class="img-fluid" src="./assets/img/img_des4.jpg" alt="">
						</div>
						<div class="img-caption text-center">
							<div class="dest_texthead">EUROPE</div>
							<div class="dest_texthead">
								<a href="wordoftravel/specific-destination" class="btn-destreadmore">READ MORE</a>
							</div>
						</div>

					</div>
					<div class=" ">
						<div class="text-center">
							<img class="img-fluid" src="./assets/img/img_des5.jpg" alt="">
						</div>
						<div class="img-caption text-center">
							<div class="dest_texthead">MIDDLE EAST</div>
							<div class="dest_texthead">
								<a href="wordoftravel/specific-destination" class="btn-destreadmore">READ MORE</a>
							</div>
						</div>
					</div>
					<div class=" ">
						<div class="text-center">
							<img class="img-fluid" src="./assets/img/img_des6.jpg" alt="">
						</div>
						<div class="img-caption text-center">
							<div class="dest_texthead">NORTH AMERICA</div>
							<div class="dest_texthead">
								<a href="#secvice" class="btn-destreadmore">READ MORE</a>
							</div>
						</div>
					</div>


					<div class=" ">
						<div class="no-mobile">
							<div class="text-center">
								<img class="img-fluid" src="./assets/img/img_des3.jpg" alt="">
							</div>
							<div class="img-caption text-center">
								<div class="dest_texthead">AUSTRALIA</div>
								<div class="dest_texthead">
									<a href="wordoftravel/specific-destination" class="btn-destreadmore">READ MORE</a>
								</div>
							</div>
						</div>
						<div class="box-mobile-carousel">
							<a href="#">
								<div class="text-center">
									<img class="img-fluid image-carousel-mobile" src="./assets/img/img_des3.jpg" alt="" />
								</div>
								<div class="color-carousel">

									<div class="box-mobile-txt">
										ALL REGIONS
									</div>
								</div>
							</a>
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>
</section>
<!-- End Destination Area -->
<app-blogger></app-blogger>
<app-footer></app-footer>
