.ng-select.suggestion {
    text-align: left;
}

.ng-select.suggestion[_ngcontent-c1] {
    border: none;
}

.ng-select.suggestion {
    background: #f0f0f0;
    border: 1px solid #f0f0f0;
}
#overlay{
  position:fixed;
  z-index:99999;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background:rgba(252, 249, 249, 0.9);
  transition: 1s 0.4s;
}
#progress{
  height:1px;
  background:#fff;
  position:absolute;
  width:0;                /* will be increased by JS */
  top:50%;
}
#progstat{
  font-size:3em;
  font-family: "Raleway";
  font-weight: bold;
  letter-spacing: 3px;
  background-image: url("/assets/img/loading.gif");
  position:absolute;
  top:50%;
  margin-top:-40px;
  width:100%;
  text-align:center;
  color:rgb(8, 12, 12);
}

