<div class="container">
    <div class="row justify-content-center align-items-center hero-text">
      <div class="col-md-12">
        <div class="banner-content text-center">
          <div class="pointer textmedium text-white mb-10">Read about real experiences,</div>
          <div class="pointer textbold text-uppercase text-white mb-30">written by real travellers</div>
          <div class="row no-margin">
            <div class="col-md-12 search-form-container">
              <div class="input-group" id="input-source">
                <div class="input-group-btn search-panel text-center align-content-center">
                  <button class="search-panel btn1" type="button">
                    <object id="svg1" data="./assets/svg/btn_pin.svg" type="image/svg+xml" width="51" height="25"></object>
                  </button>
                </div>
                <ng-select
                 [items]="suggestions"
                 [routerLink]="onClickSearch()"
                 bindLabel="text"
                 autocommplete="off"
                 [loading]="suggestionsLoading"
                 [typeahead]="suggestionTypeahead"
                  class="form-control suggestion"
                  placeholder="Where to?"
                  (keyup)='handleKeyup($event)'
                  [groupBy]="groupByFn"
                  [clearable]=false
                  appendTo=".search-form-container"
                  [(ngModel)]="selectedSuggestion">
                </ng-select>

                <div class="input-group-btn search-panel text-center align-content-center">
                  <div class="dropdown">
                    <button class="search-panel btn2 btn-default" type="button" id="search-button" (click)="search()">
                      <fa name="search" size="2x"></fa>
                    </button>
                  </div>
                </div>

                <div class="down-btn-mobile">
                  <div class="two-button-down input-group-btn search-panel">
                    <div class="dropdown">
                      <button type="button" id="recent-button" class="search-panel btn3 btn-default">
                        <span id="search_concept">RECENT</span>
                        <span class="searchdown">
                          <object id="svg1" data="./assets/svg/btn_dropdown.svg" type="image/svg+xml" width="12" height="8"></object>
                        </span>
                      </button>
                    </div>
                  </div>
                  <div class="two-button-down input-group-btn search-panel">
                    <div class="dropdown">
                      <button type="button" class="pointer search-panel btn4 btn-default" data-toggle="dropdown" id="nearme-button">
                        <span id="search_concept">NEAR ME</span>
                        <span class="searchdown">
                          <object id="svg1" data="./assets/svg/btn_dropdown.svg" type="image/svg+xml" width="12" height="8"></object>
                        </span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="dropdown-menu" id="autocorrect-menu">
                <a class="dropdown-item" href="#">Brisbane, Australia</a>
                <a class="dropdown-item" href="#">Melbourne, Australia</a>
                <a class="dropdown-item" href="#">Perth, Australia</a>
                <a class="dropdown-item" href="#">Sydney, Australia</a>
                <a class="dropdown-item" href="#">Wodonga, Australia</a>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

