<!-- Start About Area -->
<section class="default-banner">

  <!--Carousel-->
  <div id="carousel-wot" class="carousel slide carousel-fade" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#carousel-wot" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-wot" data-slide-to="1"></li>
      <li data-target="#carousel-wot" data-slide-to="2"></li>
      <li data-target="#carousel-wot" data-slide-to="3"></li>
      <li data-target="#carousel-wot" data-slide-to="4"></li>
    </ol>

    <div class="carousel-caption">
      <div class="container">
        <div class="row justify-content-center align-items-center hero-text">
          <div class="col-md-12">

            <div class="banner-content text-center">
              <div class="textmedium text-white mb-10">Read about real experiences,</div>
              <div class="textbold text-uppercase text-white mb-30">written by real travellers</div>

              <div class="row no-margin">
                <div class="col-md-12 search-form-container">
                  <div class="input-group">



                    <div class="input-group-btn search-panel text-center align-content-center">

                      <button class="search-panel btn1" type="button">
                        <object id="svg1" data="./assets/svg/btn_pin.svg" type="image/svg+xml" width="51" height="25"></object>
                      </button>
                    </div>


                    <input type="text" class="form-control" name="x" placeholder="Where to?">

                    <div class="input-group-btn search-panel text-center align-content-center">
                      <div class="dropdown">
                        <button class="search-panel btn2 btn-default" type="button" id="search-button">
                          <object id="svg1" data="./assets/svg/btn_search.svg" type="image/svg+xml" width="51" height="25"></object>
                        </button>
                      </div>
                    </div>


                    <div class="input-group-btn search-panel">

                      <div class="dropdown">
                        <button type="button" id="recent-button" class="search-panel btn3 btn-default">

                          <span id="search_concept">RECENT</span>
                          <span class="searchdown">
                            <object id="svg1" data="./assets/svg/btn_dropdown.svg" type="image/svg+xml" width="12" height="8"></object>
                          </span>
                        </button>
                      </div>
                    </div>

                    <div class="input-group-btn search-panel">
                      <button type="button" class="pointer search-panel btn4 btn-default" data-toggle="dropdown" id="nearme-button">
                        <span id="search_concept">NEAR ME</span>
                        <span class="searchdown">
                          <object id="svg1" data="./assets/svg/btn_dropdown.svg" type="image/svg+xml" width="12" height="8"></object>
                        </span>
                      </button>
                    </div>
                  </div>
                  <div class="dropdown-menu" id="autocorrect-menu">
                    <a class="dropdown-item" href="#">Brisbane, Australia</a>
                    <a class="dropdown-item" href="#">Melbourne, Australia</a>
                    <a class="dropdown-item" href="#">Perth, Australia</a>
                    <a class="dropdown-item" href="#">Sydney, Australia</a>
                    <a class="dropdown-item" href="#">Wodonga, Australia</a>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <img src="https://d2aixmiphfue7s.cloudfront.net/fimages/{{activeItem.FeatureImage}}" height="100%">
        <div class="captionhome text-white">
          <div class="titlecaptionhome">{{activeItem.TextLine1}}</div>
          <p class="placecaptionhome text-uppercase">{{activeItem.LocationName}}</p>
          <p class="countrycaptionhome text-uppercase">{{activeItem.TextLine3}}</p>
        </div>
      </div>
      <div *ngFor="let homeSearch of homeSearches;" class="carousel-item">
        <img src="https://d2aixmiphfue7s.cloudfront.net/fimages/{{homeSearch.FeatureImage}}" height="100%">
        <div class="captionhome text-white">
          <div class="titlecaptionhome">{{homeSearch.TextLine1}}</div>
          <p class="placecaptionhome text-uppercase">{{homeSearch.LocationName}}</p>
          <p class="countrycaptionhome text-uppercase">{{homeSearch.TextLine3}}</p>
        </div>
      </div>
    </div>
    <!--/.Slides-->

    <a class="buttondownhome" href="#secvice">
      <object id="svg1" data="./assets/svg/btn_banner_arrow.svg" type="image/svg+xml" width="30" height="35"></object>
    </a>


  </div>
  <!--/.Carousel Wrapper-->

  <section class="feature-area section-gap" id="secvice">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-4 col-md-6 ">
          <div class="single-feature">
            <object id="svg1" data="./assets/svg/banner-img-1.svg" type="image/svg+xml" width="90"></object>
            <br/>
            <br/>
            <h4 class="aboutheader">RESEARCH YOUR NEXT DESTINATION,</h4>

            <p class="aboutcontent">read stories and get tips from independent travel bloggers</p>
          </div>
        </div>
        <div class="col-lg-4 col-mdfeature-6 ">
          <div class="single-feature">
            <object id="svg1" data="./assets/svg/banner-img-2.svg" type="image/svg+xml" width="90"></object>
            <br/>
            <br/>
            <h4 class="aboutheader">GET INSPIRED AND FIND DESTINATIONS</h4>
            <p class="aboutcontent mb-40">that match your travel style </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 ">
          <div class="single-feature">
            <object id="svg1" data="./assets/svg/banner-img-3.svg" type="image/svg+xml" width="90"></object>
            <br/>
            <br/>
            <div class="aboutcontent">Follow all your favourite </div>
            <h4 class="aboutheader mb-40">TRAVEL BLOGGERS IN ONE PLACE</h4>
          </div>

        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-40 col-lg-8">
        <div class="title text-center">
          <div class="textbold1 mb-30">Real Travellers, Real Experience</div>

        </div>

      </div>
    </div>
  </section>

  <!-- End About Area -->
