<app-header></app-header>

<!-- Start Destination Area -->
<section class="project-area section-gap mr-30 ml-30 mb-60 mt-40">
  <div class="row d-flex justify-content-center">
    <div class="menu-content pb-20 col-lg-8">
      <div class="title text-center">
        <h1 class="titlecolor1">PREPARE FOR YOUR NEXT
          <span class="titlecolor">TRIP?</span>
        </h1>
        <div class="description-travel">Travel can provide you with your most memorable experiences, connect you with new friends, 
          and at times even help define who you are. Our Travel Articles explore topics to help you think 
          of your travel experience in a different way so you can get the most out of your journey!</div>
      </div>
    </div>
  </div>
  <div class="row">
    <ul class="container box-list-wrapper mb-60">
      <!-- Item -->
      <li *ngFor="let article of articles; let i = index;" #travelarticles>
        <div class="image-wrapper">
          <a href="#" (click)="selectedCategory(article.Category, article.ArticleName)"><img src="//wordoftravel.com{{article.FeatureImageThumbnail}}"></a>
        </div>
        <div class="box-list-content">
          <div class="box-list-actions">
            <div class="inline-label">
              <div class="icon">
                <object data="./assets/svg/icon-calendar-blue.svg" type="image/svg+xml" width="45" height="25"></object>
              </div>
              <span>{{article.PublishedDate | date: 'dd'}} {{article.PublishedDate | date:'MMMM'}} {{article.PublishedDate | date:
                'yyyy'}}</span>
            </div>
          </div>
          <div class="box-list-descriptions">
            <div class="box-list-title">
              <a href="#" (click)="selectedCategory(article.Category, article.ArticleName)">{{article.Title}}</a>
            </div>
            <div class="box-list-subheader"> 
              <span class="genric-btn default circle fz-12 btn-compact-articlespage">{{article.Category | uppercase}} </span></div>
            <div class="box-list-overview">
              {{(article.AbstractText.length>200)? (article.AbstractText | slice:0:200)+'...':(article.AbstractText) }}
            </div>
            <div class="box-list-places">
              <div class="inline-label">
                <span class="label">PLACES:&nbsp;</span>
                <span class="tags" *ngFor="let place of article.Places; let isLast=last">
                  <a href="#" (click)="selectedPlaces(place.PlaceName, place.PlaceID)" class="place-link">
                  {{place.PlaceName}}{{isLast ? '' : ', '}}
                  </a>
                </span>
              </div>
              <br>
              <div class="inline-label">
                <span class="label">TOPICS:&nbsp;</span>
                <span class="tags">{{article.Tags}}</span>
              </div>
            </div>
          </div>
          <div class="social-icons">
              <div class="inline-label">
                <button id="btn-like-icon" class="icon-circle pointer"></button>
                <span>{{ article.Likes }} LIKES</span>
              </div>

              <div class="inline-label">
                <button id="btn-share-icon" data-toggle="popover" class="icon-circle"></button>
                <span>SHARE</span>
              </div>

              <div class="inline-label">
                <button id="btn-favorite-icon" class="icon-circle"></button>
                <span>FAVOURITE</span>
              </div>
            </div>
        </div>
      </li>
      <!--End Item-->
    </ul>
  </div>

  <div class="clearfix"></div>
</section>
<!-- End Destination Area -->
<!--Footer-->
<app-footer></app-footer>
<!--End-footer-->
<!-- Share Tooltip Contents -->
<div id="socialSharePopover" class="inline-label">
  <object class="svgIcon" data="./assets/svg/icon-social-facebook.svg" type="image/svg+xml" width="40" height="40"></object>
  <object class="svgIcon" data="./assets/svg/icon-social-twitter.svg" type="image/svg+xml" width="40" height="40"></object>
  <object class="svgIcon" data="./assets/svg/icon-social-pinterest.svg" type="image/svg+xml" width="40" height="40"></object>
  <object class="svgIcon" data="./assets/svg/icon-social-whatsapp.svg" type="image/svg+xml" width="40" height="40"></object>
  <object class="svgIcon" data="./assets/svg/icon-social-mail.svg" type="image/svg+xml" width="40" height="38"></object>
</div>
