<app-header></app-header>

<!-- Start Destination Area -->
<section class="project-area section-gap mr-30 ml-30 mb-60 mt-60">
  <div class="row d-flex justify-content-center">
    <div class="menu-content pb-20 col-lg-8">
      <div class="title text-center">
        <h1 class="titlecolor1">PREPARE FOR YOUR NEXT
          <span class="titlecolor">TRAVEL?</span>
        </h1>
        <h4>Sample description here</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <ul class="container box-list-wrapper mb-60">
      <!-- Item -->
      <li *ngFor="let article of articles; let i = index;" #travelarticles>
        <div class="image-wrapper">
          <a href="wordoftravel/travel-articles/{{article.Category}}/{{article.ArticleName}}"><img src="//wordoftravel.com{{article.FeatureImageThumbnail}}"></a>
        </div>
        <div class="box-list-content">
          <div class="box-list-actions">
            <div class="inline-label">
              <div class="icon">
                <object data="./assets/svg/icon-calendar-blue.svg" type="image/svg+xml" width="45" height="25"></object>
              </div>
              <span>{{article.PublishedDate | date: 'dd'}} {{article.PublishedDate | date:'MMMM'}} {{article.PublishedDate | date:
                'yyyy'}}</span>
            </div>
          </div>
          <div class="box-list-descriptions">
            <div class="box-list-title">
              <a href="wordoftravel/travel-articles/{{article.Category}}/{{article.ArticleName}}">{{article.Title}}</a>
            </div>
            <div class="box-list-subheader">{{article.Category | uppercase}} </div>
            <div class="box-list-overview">
              {{(article.AbstractText.length>150)? (article.AbstractText | slice:0:150)+'...':(article.AbstractText) }}
            </div>
            <div class="box-list-places">
              <div class="inline-label">
                <span class="label">PLACES:&nbsp;</span>
                <span class="tags" *ngFor="let place of article.Places; let isLast=last">{{place.PlaceName}}{{isLast ? '' : ', '}}</span>
              </div>
              <br>
              <div class="inline-label">
                <span class="label">TOPICS:&nbsp;</span>
                <span class="tags">{{article.Tags}}</span>
              </div>
            </div>
          </div>
          <div class="social-icons">
              <div class="inline-label">
                <button id="btn-like-icon" class="icon-circle pointer"></button>
                <span>{{ article.Likes }} LIKES</span>
              </div>

              <div class="inline-label">
                <button id="btn-share-icon" data-toggle="popover" class="icon-circle"></button>
                <span>SHARE</span>
              </div>

              <div class="inline-label">
                <button id="btn-favorite-icon" class="icon-circle"></button>
                <span>FAVOURITE</span>
              </div>
            </div>
        </div>
      </li>
      <!--End Item-->
    </ul>
  </div>

  <div class="clearfix"></div>
</section>
<!-- End Destination Area -->
<!--Footer-->
<app-footer></app-footer>
<!--End-footer-->
<!-- Share Tooltip Contents -->
<div id="socialSharePopover" class="inline-label">
  <object class="svgIcon" data="./assets/svg/icon-social-facebook.svg" type="image/svg+xml" width="40" height="40"></object>
  <object class="svgIcon" data="./assets/svg/icon-social-twitter.svg" type="image/svg+xml" width="40" height="40"></object>
  <object class="svgIcon" data="./assets/svg/icon-social-pinterest.svg" type="image/svg+xml" width="40" height="40"></object>
  <object class="svgIcon" data="./assets/svg/icon-social-whatsapp.svg" type="image/svg+xml" width="40" height="40"></object>
  <object class="svgIcon" data="./assets/svg/icon-social-mail.svg" type="image/svg+xml" width="40" height="38"></object>
</div>
