
		<!-- Start Destination Area 
		<section class="project-area section-gap mb-49 ml-50 mr-50" id="explore">
			<div class="travelarticles">
				<div class="boxart d-flex">
					<div class="row no-margin col-md-9 col-12">
						<div class="row no-margin titlecolor1 ">EXPLORE GREAT
							<div class="titlecolor">&nbsp; DESTINATIONS</div>
						</div>

					</div>
					<div class="col-md-3 col-12">
						<div class="mb-30 buttonright">
							<a href="#secvice" class="btn-titleright3">ALL REGIONS</a>
						</div>
					</div>
				</div>
			</div>
			<div class="owl-carousel">
					<div class="">
						<div class="text-center">
							<img class="img-fluid" src="./assets/img/img_des1.jpg" alt="">
						</div>
						<div class="img-caption text-center">
							<div class="dest_texthead">AFRICA</div>
							<div class="dest_textcaption">CURABITUR EGET SEM</div>
							<div class="dest_texthead">
								<a href="specific-destination.html" class="btn-destreadmore">READ MORE</a>
							</div>
		
						</div>
		
					</div>
					<div class=" ">
						<div class="text-center">
							<img class="img-fluid" src="./assets/img/img_des2.jpg" alt="">
						</div>
						<div class="img-caption img-fluid text-center">
							<div class="dest_texthead">ASIA</div>
							<div class="dest_textcaption">CURABITUR EGET SEM</div>
							<div class="dest_texthead">
								<a href="specific-destination.html" class="btn-destreadmore">READ MORE</a>
							</div>
		
						</div>
					</div>
					<div class=" ">
						<div class="text-center">
							<img class="img-fluid" src="./assets/img/img_des3.jpg" alt="">
						</div>
						<div class="img-caption text-center">
							<div class="dest_texthead">AUSTRALIA</div>
							<div class="dest_textcaption">CURABITUR EGET SEM</div>
							<div class="dest_texthead">
								<a href="specific-destination.html" class="btn-destreadmore">READ MORE</a>
							</div>
		
						</div>
		
					</div>
					<div class=" ">
						<div class="text-center">
							<img class="img-fluid" src="./assets/img/img_des4.jpg" alt="">
						</div>
						<div class="img-caption text-center">
							<div class="dest_texthead">EUROPE</div>
							<div class="dest_textcaption">CURABITUR EGET SEM</div>
							<div class="dest_texthead">
								<a href="specific-destination.html" class="btn-destreadmore">READ MORE</a>
							</div>
						</div>
		
					</div>
					<div class=" ">
						<div class="text-center">
							<img class="img-fluid" src="./assets/img/img_des5.jpg" alt="">
						</div>
						<div class="img-caption text-center">
							<div class="dest_texthead">MIDDLE EAST</div>
							<div class="dest_textcaption">CURABITUR EGET SEM</div>
							<div class="dest_texthead">
								<a href="specific-destination.html" class="btn-destreadmore">READ MORE</a>
							</div>
		
						</div>
		
					</div>
					<div class=" ">
						<div class="text-center">
							<img class="img-fluid" src="./assets/img/img_des6.jpg" alt="">
						</div>
						<div class="img-caption text-center">
							<div class="dest_texthead">NORTH AMERICA</div>
							<div class="dest_textcaption">CURABITUR EGET SEM</div>
							<div class="dest_texthead">
								<a href="#secvice" class="btn-destreadmore">READ MORE</a>
							</div>
						</div>
					</div>
					<div class=" ">
						<div class="text-center">
							<img class="img-fluid" src="./assets/img/img_des1.jpg" alt="">
						</div>
						<div class="img-caption text-center">
							<div class="dest_texthead">AFRICA</div>
							<div class="dest_textcaption">CURABITUR EGET SEM</div>
							<div class="dest_texthead">
								<a href="specific-destination.html" class="btn-destreadmore">READ MORE</a>
							</div>
						</div>
					</div>
					<div class=" ">
						<div class="text-center">
							<img class="img-fluid" src="./assets/img/img_des2.jpg" alt="">
						</div>
						<div class="img-caption img-fluid text-center">
							<div class="dest_texthead">ASIA</div>
							<div class="dest_textcaption">CURABITUR EGET SEM</div>
							<div class="dest_texthead">
								<a href="specific-destination.html" class="btn-destreadmore">READ MORE</a>
							</div>
						</div>
					</div>
					<div class=" ">
						<div class="text-center">
							<img class="img-fluid" src="./assets/img/img_des3.jpg" alt="">
						</div>
						<div class="img-caption text-center">
							<div class="dest_texthead">AUSTRALIA</div>
							<div class="dest_textcaption">CURABITUR EGET SEM</div>
							<div class="dest_texthead">
								<a href="specific-destination.html" class="btn-destreadmore">READ MORE</a>
							</div>
						</div>
					</div>
					<div class=" ">
						<div class="text-center">
							<img class="img-fluid" src="./assets/img/img_des4.jpg" alt="">
						</div>
						<div class="img-caption text-center">
							<div class="dest_texthead">EUROPE</div>
							<div class="dest_textcaption">CURABITUR EGET SEM</div>
							<div class="dest_texthead">
								<a href="specific-destination.html" class="btn-destreadmore">READ MORE</a>
							</div>
						</div>
					</div>
					<div class=" ">
						<div class="text-center">
							<img class="img-fluid" src="./assets/img/img_des5.jpg" alt="">
						</div>
						<div class="img-caption text-center">
							<div class="dest_texthead">MIDDLE EAST</div>
							<div class="dest_textcaption">CURABITUR EGET SEM</div>
							<div class="dest_texthead">
								<a href="specific-destination.html" class="btn-destreadmore">READ MORE</a>
							</div>
						</div>
					</div>
					<div class=" ">
						<div class="text-center">
							<img class="img-fluid" src="./assets/img/img_des6.jpg" alt="">
						</div>
						<div class="img-caption text-center">
							<div class="dest_texthead">NORTH AMERICA</div>
							<div class="dest_textcaption">CURABITUR EGET SEM</div>
							<div class="dest_texthead">
								<a href="specific-destination.html" class="btn-destreadmore">READ MORE</a>
							</div>
						</div>
					</div>
					<div class=" ">
						<div class="text-center">
							<img class="img-fluid" src="./assets/img/img_des1.jpg" alt="">
						</div>
						<div class="img-caption text-center">
							<div class="dest_texthead">AFRICA</div>
							<div class="dest_textcaption">CURABITUR EGET SEM</div>
							<div class="dest_texthead">
								<a href="specific-destination.html" class="btn-destreadmore">READ MORE</a>
							</div>
						</div>
					</div>
					<div class=" ">
						<div class="text-center">
							<img class="img-fluid" src="./assets/img/img_des2.jpg" alt="">
						</div>
						<div class="img-caption img-fluid text-center">
							<div class="dest_texthead">ASIA</div>
							<div class="dest_textcaption">CURABITUR EGET SEM</div>
							<div class="dest_texthead">
								<a href="specific-destination.html" class="btn-destreadmore">READ MORE</a>
							</div>
						</div>
					</div>
					<div class=" ">
						<div class="text-center">
							<img class="img-fluid" src="./assets/img/img_des3.jpg" alt="">
						</div>
						<div class="img-caption text-center">
							<div class="dest_texthead">AUSTRALIA</div>
							<div class="dest_textcaption">CURABITUR EGET SEM</div>
							<div class="dest_texthead">
								<a href="specific-destination.html" class="btn-destreadmore">READ MORE</a>
							</div>
						</div>
					</div>
				</div>
		</section>
		
	-->
		<!-- End Destination Area -->

		<section class="project-area section-gap mb-49" id="explore">
			<div class="travelarticles">
				<div class="boxart d-flex">
					<div class="row no-margin col-md-9 col-12">
						<div class="row no-margin titlecolor1 ">EXPLORE GREAT
							<div class="titlecolor">&nbsp; DESTINATIONS</div>
						</div>

					</div>
					<div class="col-md-3 col-12">
						<div class="mb-30 buttonright">
							<a href="#secvice" class="btn-titleright3">ALL REGIONS</a>
						</div>
					</div>
					<div class="col-md-12 col-12">
						<div class="owl-carousel">
							<div class="">
								<div class="text-center">
									<img class="img-fluid" src="./assets/img/img_des1.jpg" alt="">
								</div>
								<div class="img-caption text-center">
									<div class="dest_texthead">AFRICA</div>
									<div class="dest_textcaption">CURABITUR EGET SEM</div>
									<div class="dest_texthead">
										<a href="specific-destination.html" class="btn-destreadmore">READ MORE</a>
									</div>
				
								</div>
				
							</div>
							<div class=" ">
								<div class="text-center">
									<img class="img-fluid" src="./assets/img/img_des2.jpg" alt="">
								</div>
								<div class="img-caption img-fluid text-center">
									<div class="dest_texthead">ASIA</div>
									<div class="dest_textcaption">CURABITUR EGET SEM</div>
									<div class="dest_texthead">
										<a href="specific-destination.html" class="btn-destreadmore">READ MORE</a>
									</div>
				
								</div>
							</div>
							<div class=" ">
								<div class="text-center">
									<img class="img-fluid" src="./assets/img/img_des3.jpg" alt="">
								</div>
								<div class="img-caption text-center">
									<div class="dest_texthead">AUSTRALIA</div>
									<div class="dest_textcaption">CURABITUR EGET SEM</div>
									<div class="dest_texthead">
										<a href="specific-destination.html" class="btn-destreadmore">READ MORE</a>
									</div>
				
								</div>
				
							</div>
							<div class=" ">
								<div class="text-center">
									<img class="img-fluid" src="./assets/img/img_des4.jpg" alt="">
								</div>
								<div class="img-caption text-center">
									<div class="dest_texthead">EUROPE</div>
									<div class="dest_textcaption">CURABITUR EGET SEM</div>
									<div class="dest_texthead">
										<a href="specific-destination.html" class="btn-destreadmore">READ MORE</a>
									</div>
								</div>
				
							</div>
							<div class=" ">
								<div class="text-center">
									<img class="img-fluid" src="./assets/img/img_des5.jpg" alt="">
								</div>
								<div class="img-caption text-center">
									<div class="dest_texthead">MIDDLE EAST</div>
									<div class="dest_textcaption">CURABITUR EGET SEM</div>
									<div class="dest_texthead">
										<a href="specific-destination.html" class="btn-destreadmore">READ MORE</a>
									</div>
				
								</div>
				
							</div>
							<div class=" ">
								<div class="text-center">
									<img class="img-fluid" src="./assets/img/img_des6.jpg" alt="">
								</div>
								<div class="img-caption text-center">
									<div class="dest_texthead">NORTH AMERICA</div>
									<div class="dest_textcaption">CURABITUR EGET SEM</div>
									<div class="dest_texthead">
										<a href="#secvice" class="btn-destreadmore">READ MORE</a>
									</div>
								</div>
							</div>
							<div class=" ">
								<div class="text-center">
									<img class="img-fluid" src="./assets/img/img_des1.jpg" alt="">
								</div>
								<div class="img-caption text-center">
									<div class="dest_texthead">AFRICA</div>
									<div class="dest_textcaption">CURABITUR EGET SEM</div>
									<div class="dest_texthead">
										<a href="specific-destination.html" class="btn-destreadmore">READ MORE</a>
									</div>
								</div>
							</div>
							<div class=" ">
								<div class="text-center">
									<img class="img-fluid" src="./assets/img/img_des2.jpg" alt="">
								</div>
								<div class="img-caption img-fluid text-center">
									<div class="dest_texthead">ASIA</div>
									<div class="dest_textcaption">CURABITUR EGET SEM</div>
									<div class="dest_texthead">
										<a href="specific-destination.html" class="btn-destreadmore">READ MORE</a>
									</div>
								</div>
							</div>
							<div class=" ">
								<div class="text-center">
									<img class="img-fluid" src="./assets/img/img_des3.jpg" alt="">
								</div>
								<div class="img-caption text-center">
									<div class="dest_texthead">AUSTRALIA</div>
									<div class="dest_textcaption">CURABITUR EGET SEM</div>
									<div class="dest_texthead">
										<a href="specific-destination.html" class="btn-destreadmore">READ MORE</a>
									</div>
								</div>
							</div>
							<div class=" ">
								<div class="text-center">
									<img class="img-fluid" src="./assets/img/img_des4.jpg" alt="">
								</div>
								<div class="img-caption text-center">
									<div class="dest_texthead">EUROPE</div>
									<div class="dest_textcaption">CURABITUR EGET SEM</div>
									<div class="dest_texthead">
										<a href="specific-destination.html" class="btn-destreadmore">READ MORE</a>
									</div>
								</div>
							</div>
							<div class=" ">
								<div class="text-center">
									<img class="img-fluid" src="./assets/img/img_des5.jpg" alt="">
								</div>
								<div class="img-caption text-center">
									<div class="dest_texthead">MIDDLE EAST</div>
									<div class="dest_textcaption">CURABITUR EGET SEM</div>
									<div class="dest_texthead">
										<a href="specific-destination.html" class="btn-destreadmore">READ MORE</a>
									</div>
								</div>
							</div>
							<div class=" ">
								<div class="text-center">
									<img class="img-fluid" src="./assets/img/img_des6.jpg" alt="">
								</div>
								<div class="img-caption text-center">
									<div class="dest_texthead">NORTH AMERICA</div>
									<div class="dest_textcaption">CURABITUR EGET SEM</div>
									<div class="dest_texthead">
										<a href="specific-destination.html" class="btn-destreadmore">READ MORE</a>
									</div>
								</div>
							</div>
							<div class=" ">
								<div class="text-center">
									<img class="img-fluid" src="./assets/img/img_des1.jpg" alt="">
								</div>
								<div class="img-caption text-center">
									<div class="dest_texthead">AFRICA</div>
									<div class="dest_textcaption">CURABITUR EGET SEM</div>
									<div class="dest_texthead">
										<a href="specific-destination.html" class="btn-destreadmore">READ MORE</a>
									</div>
								</div>
							</div>
							<div class=" ">
								<div class="text-center">
									<img class="img-fluid" src="./assets/img/img_des2.jpg" alt="">
								</div>
								<div class="img-caption img-fluid text-center">
									<div class="dest_texthead">ASIA</div>
									<div class="dest_textcaption">CURABITUR EGET SEM</div>
									<div class="dest_texthead">
										<a href="specific-destination.html" class="btn-destreadmore">READ MORE</a>
									</div>
								</div>
							</div>
							<div class=" ">
								<div class="text-center">
									<img class="img-fluid" src="./assets/img/img_des3.jpg" alt="">
								</div>
								<div class="img-caption text-center">
									<div class="dest_texthead">AUSTRALIA</div>
									<div class="dest_textcaption">CURABITUR EGET SEM</div>
									<div class="dest_texthead">
										<a href="specific-destination.html" class="btn-destreadmore">READ MORE</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	