
<div class="d-flex justify-content-center">
    <div class="menu-content col-lg-8">
      <div class="title text-center">
        <h1 *ngIf="item" class="mb-20 titlecolor1">EXPLORE THE BEST OF
          <span class="titlecolor">{{item.RegionName | uppercase}}</span>
        </h1>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
  <div class="col-lg-12 col-md-8 text-center">
    <a href="#" *ngFor="let countries of item.Countries" class="genric-btn default circle fz-16 btn-compact">{{countries.CountryName}}</a>
  </div>
</div>