<app-signin></app-signin>
<app-header></app-header>
<section class="project-area section-gap ml-30 mr-30 mt-60 mb-50">
  <div class="row d-flex justify-content-center">
    <div class="menu-content pb-20 col-lg-8">
      <div class="title text-center">
        <h1 class="mb-10 titlecolor1">WHERE DO YOU
          <span class="titlecolor">WANT TO GO NEXT?</span>
        </h1>
      </div>
    </div>
  </div>
  <!--Rotator-->
  <div class="col-md-12 col-12">
    <div class="owl-carousel">
        <div class="owl-list clicked" #owlitem>
            <a href="#" class="cardregion" id="clickRegion" (click)="selectRegion(africa)">
            <div class="text-center ">
              <img class="img-fluid" src="http://wordoftravel.com{{africa?.ImagePath}}" alt="">
            </div>
            <div class="gradient-carousel">
            <div class="img-caption text-center">
              <div class="dest_texthead text-uppercase">{{africa?.RegionName}}</div>
              <div class="dest_texthead">
                <a href="#" id="clickRegion" (click)="selectRegion(africa)" class="btn-destreadmore defaultReadmore">READ MORE</a>
            </div>
            </div>
            </div>
          </a>
      </div>
      <div class="owl-list" *ngFor="let destination of destinations" #owlitem>
          <a href="#" class="cardregion" id="clickRegion" (click)="selectRegion(destination)">
        <div class="text-center ">
          <img class="img-fluid" src="http://wordoftravel.com{{destination.ImagePath}}" alt="">
        </div>
        <div class="gradient-carousel">
        <div class="img-caption text-center">
          <div class="dest_texthead text-uppercase">{{destination.RegionName}}</div>
          <div class="dest_texthead">
            <a href="#" id="clickRegion" (click)="selectRegion(destination)" class="btn-destreadmore">READ MORE</a>
        </div>
        </div>
        </div>
      </a>
      </div>
    </div>
  </div>
  
  <!--mobile carousel explore destination-->
  <div class="boxart d-flex travel-wrapper">
    <div class="col-sm-3 col-6 mb-20 carousel-mobile">
        <a href="#" id="clickRegion" class="cardregion" (click)="selectRegion(africa)">
      <div class="text-center">
          <img class="img-fluid" src="http://wordoftravel.com{{africa?.ImagePath}}" alt="">
      </div>
      <div class="gradient-carousel clicked">
      <div class="img-caption text-center">
        <div class="dest_texthead text-uppercase">{{africa?.RegionName}}</div>
        <div class="dest_texthead">
            <a href="#" class="btn-destreadmore defaultReadmore" (click)="selectRegion(africa)">READ MORE</a>
        </div>
      </div>
      </div>
      </a>
    </div>

    <div *ngFor="let destination of destinations" class="col-sm-3 col-6 mb-20 carousel-mobile">
        <a href="#" id="clickRegion" class="cardregion" (click)="selectRegion(destination)">
      <div class="text-center">
        <img class="img-fluid" src="http://wordoftravel.com{{destination.ImagePath}}" alt="">
      </div>
      <div class="gradient-carousel">
      <div class="img-caption text-center">
        <div class="dest_texthead text-uppercase">{{destination.RegionName}}</div>
        <div class="dest_texthead">
            <a href="#" class="btn-destreadmore">READ MORE</a>
        </div>
      </div>
      </div>
      </a>
    </div>

    <!--duplicate to allow hightlight south america-->
    <div class="col-sm-3 col-6 mb-20 carousel-mobile" style="display: none;">
        <a href="#" id="clickRegion" class="cardregion">
      <div class="text-center">
        <img class="img-fluid" src="" alt="">
      </div>
      <div class="gradient-carousel">
      <div class="img-caption text-center">
        <div class="dest_texthead text-uppercase"></div>
        <div class="dest_texthead">
            <a href="#" class="btn-destreadmore">READ MORE</a>
        </div>
      </div>
      </div>
      </a>
    </div>
    <!--End duplicate-->


  
    <div class="col-sm-3 col-6 mb-20 carousel-mobile"  *ngIf="exploredestinations == false">
      <div class="box-mobile-carousel">
          <div class="">
              <a href="/wordoftravel/explore-destinations" class="cardregion" id="clickRegion" (click)="selectRegion(africa)">
          <div class="text-center">
            <img class="img-fluid image-carousel-mobile" src="./assets/img/img_des3.jpg" alt="" />
          </div>
          <div class="color-carousel">
            <div class="box-mobile-txt">
              ALL REGIONS
            </div>
          </div>
        </a>
        </div>
      </div>
    </div>

  </div>
    <!--mobile carousel explore destination-->
  <!--End of Rotator-->
</section>
<!--Content Section-->
<div class="defaulRegion">
<section class="project-area section-gap ml-30 mr-30">
  <div class="d-flex justify-content-center">
    <div class="menu-content col-lg-8">
      <div class="title text-center">
        <h1  class="mb-20 titlecolor1">EXPLORE THE BEST OF
          <span class="titlecolor">
          {{africa?.RegionName | uppercase}}
          </span>
        </h1>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
  <div class="col-lg-12 col-md-8 text-center">
    <span *ngFor="let countryOfAfrica of countriesOfAfrica">
    <a href="#" class="genric-btn default circle fz-16 btn-compact">
      {{countryOfAfrica.CountryName}}
    </a>
    </span>
  </div>
</div>
<div class="mt-30">
  <!--Featured Destinstion-->
  <div class="wrapper1 mb-60">
    <div class="box featured_destination1">
      <a href="wordoftravel{{africaFeatured[0]?.LinkPath}}" class="white-link">
        <div class="img-wrapper">
          <img class="featured_img" src="http://wordoftravel.com/images/featuredlocations/{{africaFeatured[0]?.FeatureImage}}">
        </div>
        <div class="gradient">
          <div class="boxcontent">
            <div class="featuredlocation">{{(africaFeatured[0]?.TextLine2) | titlecase}} </div>
            <div class="featuredcountry">{{(africaFeatured[0]?.TextLine3) | uppercase}}</div>
          </div>
        </div>
      </a>
    </div>
    <div class="box featured_destination2">
      <a href="wordoftravel{{africaFeatured[1]?.LinkPath}}" class="white-link">
        <div class="img-wrapper">
          <img class="featured_img" src="http://wordoftravel.com/images/featuredlocations/{{africaFeatured[1]?.FeatureImage}}">
        </div>
        <div class="gradient">
          <div class="boxcontent">
            <div class="featuredlocation">{{africaFeatured[1]?.TextLine2 | titlecase}} </div>
            <div class="featuredcountry">{{africaFeatured[1]?.TextLine3 | uppercase}}</div>
          </div>
        </div>
      </a>
    </div>
    <div class="box featured_destination3">
      <a href="wordoftravel{{tallDestination?.LinkPath}}" class="white-link">
        <div class="img-wrapper">
          <img class="featured_img" src="http://wordoftravel.com/images/featuredlocations/{{tallDestination?.FeatureImage}}">
        </div>
        <div class="gradient">
          <div class="boxcontent3">
            <div class="featuredlocation">{{tallDestination?.TextLine2 | titlecase}}</div>
            <div class="featuredcountry">{{tallDestination?.TextLine3 | uppercase}}</div>
          </div>
        </div>
      </a>
    </div>
    <div class="box featured_destination4">
      <a href="wordoftravel{{africaFeatured[2]?.LinkPath}}" class="white-link">
        <div class="img-wrapper">
          <img class="featured_img" src="http://wordoftravel.com/images/featuredlocations/{{africaFeatured[2]?.FeatureImage}}">
        </div>
        <div class="gradient">
          <div class="boxcontent">
            <div class="featuredlocation">{{africaFeatured[2]?.TextLine2 | titlecase}} </div>
            <div class="featuredcountry">{{africaFeatured[2]?.TextLine3 | uppercase}}</div>
          </div>
        </div>
      </a>
    </div>
    <div class="box featured_destination5">
      <a href="wordoftravel{{africaFeatured[3]?.LinkPath}}" class="white-link">
        <div class="img-wrapper">
          <img class="featured_img" src="http://wordoftravel.com/images/featuredlocations/{{africaFeatured[3]?.FeatureImage}}">
        </div>
        <div class="gradient">
          <div class="boxcontent">
            <div class="featuredlocation">{{africaFeatured[3]?.TextLine2 | titlecase}} </div>
            <div class="featuredcountry">{{africaFeatured[3]?.TextLine3 | uppercase}}</div>
          </div>
        </div>
      </a>
    </div>
    <div class="box featured_destination6">
      <a href="wordoftravel{{wideDestination?.LinkPath}}" class="white-link">
        <div class="img-wrapper">
          <img class="featured_img" src="http://wordoftravel.com/images/featuredlocations/{{wideDestination?.FeatureImage}}">
        </div>
        <div class="gradient">
          <div class="boxcontent2">
            <div class="featuredlocation">{{wideDestination?.TextLine2 | titlecase}}</div>
            <div class="featuredcountry">{{wideDestination?.TextLine3 | uppercase}}</div>
          </div>
        </div>
      </a>
    </div>
    <div class="box featured_destination7">
      <a href="wordoftravel{{africaFeatured[4]?.LinkPath}}" class="white-link">
        <div class="img-wrapper">
          <img class="featured_img" src="http://wordoftravel.com/images/featuredlocations/{{africaFeatured[4]?.FeatureImage}}">
        </div>
        <div class="gradient">
          <div class="boxcontent">
            <div class="featuredlocation">{{africaFeatured[4]?.TextLine2 | titlecase}} </div>
            <div class="featuredcountry">{{africaFeatured[4]?.TextLine3 | uppercase}}</div>
          </div>
        </div>
      </a>
    </div>
    <div class="box featured_destination8">
      <a href="wordoftravel{{africaFeatured[5]?.LinkPath}}" class="white-link">
        <div class="img-wrapper">
          <img class="featured_img" src="http://wordoftravel.com/images/featuredlocations/{{africaFeatured[5]?.FeatureImage}}">
        </div>
        <div class="gradient">
          <div class="boxcontent">
            <div class="featuredlocation">{{africaFeatured[5]?.TextLine2 | titlecase}} </div>
            <div class="featuredcountry">{{africaFeatured[5]?.TextLine3 | uppercase}}</div>
          </div>
        </div>
      </a>
    </div>
    <a href="/wordoftravel/explore-destinations" class="white-link" *ngIf="exploredestinations == false">
      <div class="box featured_destination9">
        <div class="box-mobile-carousel">
          <div class="text-center">
            <img class="img-fluid image-carousel-mobile" src="./assets/img/img_des3.jpg" alt="" />
          </div>
          <div class="color-carousel-destination">
            <div class="box-mobile-txt">
              MORE DESTINATIONS
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <!--End of featured-->
</div>
</section>

 <!-- Start Travel Articles Area -->
 <section class="project-area section-gap mb-60" id="articles">
  <div class="travelarticles">
          <div class="d-flex justify-content-center mb-40">
                  <div class="menu-content col-lg-8">
                      <div class="title text-center">
                          <h1 class="titlecolor1">HELPFUL POSTS
                              <span class="titlecolor">TO PLAN YOUR TRIP</span>
                          </h1>
                          <h4 class="subheadtext">A curated selection of informative posts about travelling in {{africa?.RegionName}}<!--4-->
                      </h4></div>
                  </div>
              </div>
      <app-travel-articles></app-travel-articles>
  </div>
</section>
</div>
<!--End of Content-->
<!-- Start Destination Area -->
<div class="showRegion">
<app-destination [item]="selectedRegion"></app-destination>
</div>
 <!--End Travel Articles Area -->
<app-footer></app-footer>
