.showRegion {
  display: none;
}

.c-showRegion {
  display: block !important;
}

.c-defaulRegion {
  display: none !important;
}

.defaultReadmore {
  background-color: #a967aa;
  color: #ffffff;
}

.clicked .btn-destreadmore {
  color: #FFFFFF;
  background-color: #a967aa;
}