<app-signin></app-signin>
<app-header></app-header>
<section class="project-area section-gap ml-30 mr-30 mt-60 mb-50">
  <div class="row d-flex justify-content-center">
    <div class="menu-content pb-20 col-lg-8">
      <div class="title text-center">
        <h1 class="mb-10 titlecolor1">WHERE DO YOU
          <span class="titlecolor">WANT TO GO NEXT?</span>
        </h1>
      </div>
    </div>
  </div>
  <!--Rotator-->
  <div class="col-md-12 col-12">
    <div class="owl-carousel">
      <div class="owl-list" *ngFor="let destination of destinations" #owlitem>
        <div class="text-center ">
          <img class="img-fluid" src="http://wordoftravel.com{{destination.ImagePath}}" alt="">
        </div>
        <div class="gradient-carousel">
        <div class="img-caption text-center">
          <div class="dest_texthead text-uppercase">{{destination.RegionName}}</div>
          <div class="dest_texthead">
            <a href="#" (click)="selectRegion(destination)" class="btn-destreadmore">READ MORE</a>
        </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="boxart d-flex travel-wrapper">
    <div *ngFor="let destination of destinations" class="col-sm-3 col-6 mb-20 carousel-mobile">
      <div class="text-center">
        <img class="img-fluid" src="http://wordoftravel.com{{destination.ImagePath}}" alt="">
      </div>
      <div class="gradient-carousel">
      <div class="img-caption text-center">
        <div class="dest_texthead text-uppercase">{{destination.RegionName}}</div>
        <div class="dest_texthead">
            <a href='(click)="selectRegion(destination)' class="btn-destreadmore">READ MORE</a>
        </div>
  
      </div>
      </div>
    </div>
  
    <div class="col-sm-3 col-6 mb-20 carousel-mobile">
      <div class="no-mobile">
        <div class="text-center">
          <img class="img-fluid" src="./assets/img/img_des3.jpg" alt="">
        </div>
        <div class="img-caption text-center">
          <div class="dest_texthead">AUSTRALIA</div>
          <div class="dest_texthead">
            <a href="wordoftravel/specific-destination" class="btn-destreadmore">READ MORE</a>
          </div>
        </div>
      </div>
      <div class="box-mobile-carousel">
        <a href="#">
          <div class="text-center">
            <img class="img-fluid image-carousel-mobile" src="./assets/img/img_des3.jpg" alt="" />
          </div>
          <div class="color-carousel">
  
            <div class="box-mobile-txt">
              ALL REGIONS
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <!--End of Rotator-->
</section>
<!-- Start Destination Area -->
<section class="project-area section-gap ml-30 mr-30">
  <app-destination [item]="selectedRegion"></app-destination>
  <div class="mt-30">
    <app-featured-destination></app-featured-destination>
  </div>
</section>
 <!-- Start Travel Articles Area -->
 <section class="project-area section-gap mb-60" id="articles">
  <div class="travelarticles">
          <div class="d-flex justify-content-center mb-40">
                  <div class="menu-content col-lg-8">
                      <div class="title text-center">
                          <h1 class="titlecolor1">HELPFUL POSTS
                              <span class="titlecolor">TO PLAN YOUR TRIP</span>
                          </h1>
                          <h4 class="subheadtext">A curated selection of informative post about travelling in Asia<!--4-->
                      </h4></div>
                  </div>
              </div>
      <app-travel-articles></app-travel-articles>
  </div>
</section>
<!-- End Travel Articles Area -->
<app-footer></app-footer>
