<app-header></app-header>
 <!-- Start Destination Area -->
 <section class="project-area section-gap mr-30 ml-30 mb-60 mt-60">
    <div class="row d-flex justify-content-center">
        <div class="menu-content pb-20 col-lg-8">
            <div class="title text-center">
                <h1 class="titlecolor1">PREPARE FOR YOUR NEXT
                    <span class="titlecolor">TRAVEL?</span>
                </h1>
                <h4>Sample description here</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <ul class="container box-list-wrapper mb-60">
            <!-- Item -->
            <li>
                <div class="image-wrapper">
                    <img src="./assets/img/img_article1.jpg">
                </div>
                <div class="box-list-content">
                    <div class="box-list-actions">
                        <div class="inline-label">
                            <div class="icon">
                                <object data="./assets/svg/icon-calendar-blue.svg" type="image/svg+xml" width="45" height="25"></object>
                            </div>
                            <span>15 March 2018</span>
                        </div>
                        <div class="social-icons">
                            <div class="inline-label">
                                <button id="btn-like-icon" class="icon-circle"></button>
                                <span>25 LIKES</span>
                            </div>

                            <div class="inline-label">
                                <button id="btn-share-icon" data-toggle="popover" class="icon-circle"></button>
                                <span>SHARE</span>
                            </div>

                            <div class="inline-label">
                                <button id="btn-favorite-icon" class="icon-circle"></button>
                                <span>FAVOURITE</span>
                            </div>
                        </div>
                    </div>
                    <div class="box-list-descriptions">
                        <div class="box-list-title">Sample Article Title</div>
                        <div class="box-list-subheader">Ethical Travel </div>
                        <div class="box-list-overview">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet venenatis elit, sit amet placerat tortor. Nunc sit
                            amet venenatis elit, sit amet placerat tortor.
                        </div>
                        <div class="box-list-places">
                            <div class="inline-label">
                                <span class="label">PLACES:&nbsp;</span>
                                <span class="tags">South Africa, North Africa</span>
                            </div>
                            <br>
                            <div class="inline-label">
                                <span class="label">TOPICS:&nbsp;</span>
                                <span class="tags">People, Local, Hiking, Good Coffee</span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <!-- Item -->
            <li>
                <div class="image-wrapper">
                    <img src="./assets/img/img_article1.jpg">
                </div>
                <div class="box-list-content">
                    <div class="box-list-actions">
                        <div class="inline-label">
                            <div class="icon">
                                <object data="./assets/svg/icon-calendar-blue.svg" type="image/svg+xml" width="45" height="25"></object>
                            </div>
                            <span>15 March 2018</span>
                        </div>
                        <div class="social-icons">
                            <div class="inline-label">
                                <button id="btn-like-icon" class="icon-circle"></button>
                                <span>25 LIKES</span>
                            </div>

                            <div class="inline-label">
                                <button id="btn-share-icon" data-toggle="popover" class="icon-circle"></button>
                                <span>SHARE</span>
                            </div>

                            <div class="inline-label">
                                <button id="btn-favorite-icon" class="icon-circle"></button>
                                <span>FAVOURITE</span>
                            </div>
                        </div>
                    </div>
                    <div class="box-list-descriptions">
                        <div class="box-list-title">Sample Article Title</div>
                        <div class="box-list-subheader">Ethical Travel </div>
                        <div class="box-list-overview">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet venenatis elit, sit amet placerat tortor. Nunc sit
                            amet venenatis elit, sit amet placerat tortor.
                        </div>
                        <div class="box-list-places">
                            <div class="inline-label">
                                <span class="label">PLACES:&nbsp;</span>
                                <span class="tags">South Africa, North Africa</span>
                            </div>
                            <br>
                            <div class="inline-label">
                                <span class="label">TOPICS:&nbsp;</span>
                                <span class="tags">People, Local, Hiking, Good Coffee</span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <!-- Item -->
            <li>
                <div class="image-wrapper">
                    <img src="./assets/img/img_article1.jpg">
                </div>
                <div class="box-list-content">
                    <div class="box-list-actions">
                        <div class="inline-label">
                            <div class="icon">
                                <object data="./assets/svg/icon-calendar-blue.svg" type="image/svg+xml" width="45" height="25"></object>
                            </div>
                            <span>15 March 2018</span>
                        </div>
                        <div class="social-icons">
                            <div class="inline-label">
                                <button id="btn-like-icon" class="icon-circle"></button>
                                <span>25 LIKES</span>
                            </div>

                            <div class="inline-label">
                                <button id="btn-share-icon" data-toggle="popover" class="icon-circle"></button>
                                <span>SHARE</span>
                            </div>

                            <div class="inline-label">
                                <button id="btn-favorite-icon" class="icon-circle"></button>
                                <span>FAVOURITE</span>
                            </div>
                        </div>
                    </div>
                    <div class="box-list-descriptions">
                        <div class="box-list-title">Sample Article Title</div>
                        <div class="box-list-subheader">Ethical Travel </div>
                        <div class="box-list-overview">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet venenatis elit, sit amet placerat tortor. Nunc sit
                            amet venenatis elit, sit amet placerat tortor.
                        </div>
                        <div class="box-list-places">
                            <div class="inline-label">
                                <span class="label">PLACES:&nbsp;</span>
                                <span class="tags">South Africa, North Africa</span>
                            </div>
                            <br>
                            <div class="inline-label">
                                <span class="label">TOPICS:&nbsp;</span>
                                <span class="tags">People, Local, Hiking, Good Coffee</span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <!-- Item -->
            <li>
                <div class="image-wrapper">
                    <img src="./assets/img/img_article1.jpg">
                </div>
                <div class="box-list-content">
                    <div class="box-list-actions">
                        <div class="inline-label">
                            <div class="icon">
                                <object data="./assets/svg/icon-calendar-blue.svg" type="image/svg+xml" width="45" height="25"></object>
                            </div>
                            <span>15 March 2018</span>
                        </div>
                        <div class="social-icons">
                            <div class="inline-label">
                                <button id="btn-like-icon" class="icon-circle"></button>
                                <span>25 LIKES</span>
                            </div>

                            <div class="inline-label">
                                <button id="btn-share-icon" data-toggle="popover" class="icon-circle"></button>
                                <span>SHARE</span>
                            </div>

                            <div class="inline-label">
                                <button id="btn-favorite-icon" class="icon-circle"></button>
                                <span>FAVOURITE</span>
                            </div>
                        </div>
                    </div>
                    <div class="box-list-descriptions">
                        <div class="box-list-title">Sample Article Title</div>
                        <div class="box-list-subheader">Ethical Travel </div>
                        <div class="box-list-overview">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet venenatis elit, sit amet placerat tortor. Nunc sit
                            amet venenatis elit, sit amet placerat tortor.
                        </div>
                        <div class="box-list-places">
                            <div class="inline-label">
                                <span class="label">PLACES:&nbsp;</span>
                                <span class="tags">South Africa, North Africa</span>
                            </div>
                            <br>
                            <div class="inline-label">
                                <span class="label">TOPICS:&nbsp;</span>
                                <span class="tags">People, Local, Hiking, Good Coffee</span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <!-- Item -->
            <li>
                <div class="image-wrapper">
                    <img src="./assets/img/img_article1.jpg">
                </div>
                <div class="box-list-content">
                    <div class="box-list-actions">
                        <div class="inline-label">
                            <div class="icon">
                                <object data="./assets/svg/icon-calendar-blue.svg" type="image/svg+xml" width="45" height="25"></object>
                            </div>
                            <span>15 March 2018</span>
                        </div>
                        <div class="social-icons">
                            <div class="inline-label">
                                <button id="btn-like-icon" class="icon-circle"></button>
                                <span>25 LIKES</span>
                            </div>

                            <div class="inline-label">
                                <button id="btn-share-icon" data-toggle="popover" class="icon-circle"></button>
                                <span>SHARE</span>
                            </div>

                            <div class="inline-label">
                                <button id="btn-favorite-icon" class="icon-circle"></button>
                                <span>FAVOURITE</span>
                            </div>
                        </div>
                    </div>
                    <div class="box-list-descriptions">
                        <div class="box-list-title">Sample Article Title</div>
                        <div class="box-list-subheader">Ethical Travel </div>
                        <div class="box-list-overview">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet venenatis elit, sit amet placerat tortor. Nunc sit
                            amet venenatis elit, sit amet placerat tortor.
                        </div>
                        <div class="box-list-places">
                            <div class="inline-label">
                                <span class="label">PLACES:&nbsp;</span>
                                <span class="tags">South Africa, North Africa</span>
                            </div>
                            <br>
                            <div class="inline-label">
                                <span class="label">TOPICS:&nbsp;</span>
                                <span class="tags">People, Local, Hiking, Good Coffee</span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <!-- Item -->
            <li>
                <div class="image-wrapper">
                    <img src="./assets/img/img_article1.jpg">
                </div>
                <div class="box-list-content">
                    <div class="box-list-actions">
                        <div class="inline-label">
                            <div class="icon">
                                <object data="./assets/svg/icon-calendar-blue.svg" type="image/svg+xml" width="45" height="25"></object>
                            </div>
                            <span>15 March 2018</span>
                        </div>
                        <div class="social-icons">
                            <div class="inline-label">
                                <button id="btn-like-icon" class="icon-circle"></button>
                                <span>25 LIKES</span>
                            </div>

                            <div class="inline-label">
                                <button id="btn-share-icon" data-toggle="popover" class="icon-circle"></button>
                                <span>SHARE</span>
                            </div>

                            <div class="inline-label">
                                <button id="btn-favorite-icon" class="icon-circle"></button>
                                <span>FAVOURITE</span>
                            </div>
                        </div>
                    </div>
                    <div class="box-list-descriptions">
                        <div class="box-list-title">Sample Article Title</div>
                        <div class="box-list-subheader">Ethical Travel </div>
                        <div class="box-list-overview">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet venenatis elit, sit amet placerat tortor. Nunc sit
                            amet venenatis elit, sit amet placerat tortor.
                        </div>
                        <div class="box-list-places">
                            <div class="inline-label">
                                <span class="label">PLACES:&nbsp;</span>
                                <span class="tags">South Africa, North Africa</span>
                            </div>
                            <br>
                            <div class="inline-label">
                                <span class="label">TOPICS:&nbsp;</span>
                                <span class="tags">People, Local, Hiking, Good Coffee</span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <!-- Item -->
            <li>
                <div class="image-wrapper">
                    <img src="./assets/img/img_article1.jpg">
                </div>
                <div class="box-list-content">
                    <div class="box-list-actions">
                        <div class="inline-label">
                            <div class="icon">
                                <object data="./assets/svg/icon-calendar-blue.svg" type="image/svg+xml" width="45" height="25"></object>
                            </div>
                            <span>15 March 2018</span>
                        </div>
                        <div class="social-icons">
                            <div class="inline-label">
                                <button id="btn-like-icon" class="icon-circle"></button>
                                <span>25 LIKES</span>
                            </div>

                            <div class="inline-label">
                                <button id="btn-share-icon" data-toggle="popover" class="icon-circle"></button>
                                <span>SHARE</span>
                            </div>

                            <div class="inline-label">
                                <button id="btn-favorite-icon" class="icon-circle"></button>
                                <span>FAVOURITE</span>
                            </div>
                        </div>
                    </div>
                    <div class="box-list-descriptions">
                        <div class="box-list-title">Sample Article Title</div>
                        <div class="box-list-subheader">Ethical Travel </div>
                        <div class="box-list-overview">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet venenatis elit, sit amet placerat tortor. Nunc sit
                            amet venenatis elit, sit amet placerat tortor.
                        </div>
                        <div class="box-list-places">
                            <div class="inline-label">
                                <span class="label">PLACES:&nbsp;</span>
                                <span class="tags">South Africa, North Africa</span>
                            </div>
                            <br>
                            <div class="inline-label">
                                <span class="label">TOPICS:&nbsp;</span>
                                <span class="tags">People, Local, Hiking, Good Coffee</span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <!-- Item -->
            <li>
                <div class="image-wrapper">
                    <img src="./assets/img/img_article1.jpg">
                </div>
                <div class="box-list-content">
                    <div class="box-list-actions">
                        <div class="inline-label">
                            <div class="icon">
                                <object data="./assets/svg/icon-calendar-blue.svg" type="image/svg+xml" width="45" height="25"></object>
                            </div>
                            <span>15 March 2018</span>
                        </div>
                        <div class="social-icons">
                            <div class="inline-label">
                                <button id="btn-like-icon" class="icon-circle"></button>
                                <span>25 LIKES</span>
                            </div>

                            <div class="inline-label">
                                <button id="btn-share-icon" data-toggle="popover" class="icon-circle"></button>
                                <span>SHARE</span>
                            </div>

                            <div class="inline-label">
                                <button id="btn-favorite-icon" class="icon-circle"></button>
                                <span>FAVOURITE</span>
                            </div>
                        </div>
                    </div>
                    <div class="box-list-descriptions">
                        <div class="box-list-title">Sample Article Title</div>
                        <div class="box-list-subheader">Ethical Travel </div>
                        <div class="box-list-overview">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet venenatis elit, sit amet placerat tortor. Nunc sit
                            amet venenatis elit, sit amet placerat tortor.
                        </div>
                        <div class="box-list-places">
                            <div class="inline-label">
                                <span class="label">PLACES:&nbsp;</span>
                                <span class="tags">South Africa, North Africa</span>
                            </div>
                            <br>
                            <div class="inline-label">
                                <span class="label">TOPICS:&nbsp;</span>
                                <span class="tags">People, Local, Hiking, Good Coffee</span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="clearfix"></div>
</section>
<!-- End Destination Area -->
<app-footer></app-footer>