<nav class="navbar-footer navbar-expand-lg  navbar-light" style="background-color: #313131;">
  <div class="container-fluid-footer">
    <ul class="footer-style search-nav justify-content-end align-items-center navbar-nav ">
      <li>
        <a class="highlight" href="#explore">Contact Us</a>
      </li>
      <li>
        <a href="#articles">Site Map</a>
      </li>
      <li>
        <a href="#secvice">Terms & Conditions</a>
      </li>
      <li>
        <a href="#gallery">Privacy Policy</a>
      </li>
      <li>
        <a class='mr-20' href='#'>
          <object id='svg1' data='svg/icon_social1.svg' type='image/svg+xml' height='15px'></object>
        </a>
        <a class='mr-20' href='#'>
          <object id='svg1' data='svg/icon_social2.svg' type='image/svg+xml' height='15px'></object>
        </a>
        <a class='mr-20' href='#'>
          <object id='svg1' data='svg/icon_social3.svg' type='image/svg+xml' height='15px'></object>
        </a>
        <a class='mr-20' href='#'>
          <object id='svg1' data='svg/icon_social4.svg' type='image/svg+xml' height='15px'></object>
        </a>
      </li>
      <li>
        <a class="small-menu-search" href='#' style="text-transform:unset">Copyright &copy;
          <script>
            document.write(new Date().getFullYear());

          </script> wordoftravel</a>
      </li>
  </ul>
 </div>
</nav>