<div class="boxart d-flex travel-wrapper">
  <div *ngFor="let travel of travels" class="col-sm-3 col-6 mb-20">
    <img class="border_radius img-fluid travel-article-thumb" src="./assets/img/img_article1.jpg" alt="">
    <div class="mt-20 travelabox">
      <div class="articles-header text-uppercase">{{travel.Title}}</div>
      <div class="articles-subheader">{{travel.Places}}</div>
      <div class="articles-content">{{travel.AbstractText}}</div>
      <div class="text-right">
        <a href="secvice" class="btn-readmore">READ MORE</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3 col-6 mb-20 ">
    <a href="" class="pointer">
      <div class="mt-20 box-mobile-btn travelabox">
        <div class="box-mobile-txt">
          OTHER ARTICLES
        </div>
      </div>
    </a>
  </div>
</div>
