<!-- Start Travel Articles Area -->
<section class="project-area section-gap mb-60" id="articles">
  <div class="travelarticles">
    <div class="boxart d-flex">

      <div class="row no-margin col-md-9 col-12">
        <div class="row no-margin titlecolor1 ">THINK DIFFERENTLY WITH OUR
          <div class="titlecolor">&nbsp; TRAVEL ARTICLES</div>
        </div>

        <div class="subheadtext mb-30">Exploring topics to help you think of your travel experience in a different way!</div>
      </div>
      <div class="col-md-3 col-12">
        <div class="mb-30 buttonright">
          <a href="#secvice" class="btn-titleright2">OTHER ARTICLES</a>
        </div>
      </div>
    </div>
    <div class="boxart d-flex">
      <div class="col-md-3 col-12 mb-40">
        <img class="border_radius img-fluid" src="./assets/img/img_article1.jpg" alt="">
        <div class="mt-20 travelabox">
          <div class="articles-header text-uppercase">PRAESENT EGESTAS VESTIBULUM VITAE SOLLIC</div>
          <div class="articles-subheader">CITY, COUNTRY/SUB-HEAD</div>
          <div class="articles-content">In id nulla vitae liguta fermentum mollis. Praesent egestas tempus dui in aliquam. Vestibulum vitae sollicitudin
            enim, ut ultricies ex. Curabitur et mattis.</div>
          <div class="text-right">
            <a href="secvice" class="btn-readmore">READ MORE</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-12 mb-40">
        <img class="border_radius img-fluid" src="./assets/img/img_article2.jpg" alt="">
        <div class="mt-20  travelabox">
          <div class="articles-header text-uppercase">PRAESENT EGESTAS VESTIBULUM VITAE SOLLIC</div>
          <div class="articles-subheader">CITY, COUNTRY/SUB-HEAD</div>
          <div class="articles-content">In id nulla vitae liguta fermentum mollis. Praesent egestas tempus dui in aliquam. Vestibulum vitae sollicitudin
            enim, ut ultricies ex. Curabitur et mattis.</div>
          <div class="text-right">
            <a href="#secvice" class="btn-readmore">READ MORE</a>
          </div>

        </div>
      </div>
      <div class="col-md-3 col-12 mb-40">
        <img class="border_radius img-fluid" src="./assets/img/img_article3.jpg" alt="">
        <div class="mt-20  travelabox">
          <div class="articles-header text-uppercase">PRAESENT EGESTAS VESTIBULUM VITAE SOLLIC</div>
          <div class="articles-subheader">CITY, COUNTRY/SUB-HEAD</div>
          <div class="articles-content">In id nulla vitae liguta fermentum mollis. Praesent egestas tempus dui in aliquam. Vestibulum vitae sollicitudin
            enim, ut ultricies ex. Curabitur et mattis.</div>
          <div class="text-right">
            <a href="#secvice" class="btn-readmore">READ MORE</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-12 mb-40">
        <img class="border_radius img-fluid" src="./assets/img/img_article4.jpg" alt="">
        <div class="mt-20  travelabox">
          <div class="articles-header text-uppercase">PRAESENT EGESTAS VESTIBULUM VITAE SOLLIC</div>
          <div class="articles-subheader">CITY, COUNTRY/SUB-HEAD</div>
          <div class="articles-content">In id nulla vitae liguta fermentum mollis. Praesent egestas tempus dui in aliquam. Vestibulum vitae sollicitudin
            enim, ut ultricies ex. Curabitur et mattis.</div>
          <div class="text-right">
            <a href="#secvice" class="btn-readmore">READ MORE</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Travel Articles Area -->