<!-- Start Travel Articles Area -->
<section class="project-area section-gap mb-60" id="articles">
  <div class="travelarticles">
    <div class="boxart d-flex">

      <div class="row no-margin col-md-9 col-12">
        <div class="row no-margin titlecolor1 text-center">THINK DIFFERENTLY WITH OUR
          <div class="titlecolor">&nbsp; TRAVEL ARTICLES</div>
        </div>

        <div class="subheadtext mb-30">Exploring topics to help you think of your travel experience in a different way!</div>
      </div>
      <div class="col-md-3 col-12">
        <div class="mb-30 buttonright">
          <a href="#secvice" class="btn-titleright2">OTHER ARTICLES</a>
        </div>
      </div>
    </div>
    <div class="boxart d-flex">
      <div *ngFor="let travel of travels" class="col-sm-3 col-6 mb-20">
        <img class="border_radius img-fluid travel-article-thumb" src="./assets/img/img_article1.jpg" alt="">
        <div class="mt-20  travelabox">
          <div class="articles-header text-uppercase">{{travel.Places.values}}</div>
          <div class="articles-subheader">{{travel.Tags.values}}</div>
          <div class="articles-content">{{travel.Title}}</div>
          <div class="text-right">
            <a href="#secvice" class="btn-readmore">READ MORE</a>
          </div>  
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Travel Articles Area -->
