<div class="wrapper1 mb-60">
  <div class="box featured_destination1">
    <div class="img-wrapper">
      <img class="featured_img" src="http://wordoftravel.com/images/featuredlocations/{{destinations[0]?.FeatureImage}}">
    </div>
    <div class="gradient">
      <div class="boxcontent">
        <a href="wordoftravel{{destinations[0]?.LinkPath}}" class="white-link">
          <div class="featuredlocation">{{(destinations[0]?.TextLine2) | titlecase}} </div>
          <div class="featuredcountry">{{(destinations[0]?.TextLine3) | uppercase}}</div>
        </a>
      </div>
    </div>
  </div>
  <div class="box featured_destination2">
    <div class="img-wrapper">
      <img class="featured_img" src="http://wordoftravel.com/images/featuredlocations/{{destinations[1]?.FeatureImage}}">
    </div>
    <div class="gradient">
      <div class="boxcontent">
          <a href="wordoftravel{{destinations[1]?.LinkPath}}" class="white-link">
            <div class="featuredlocation">{{destinations[1]?.TextLine2 | titlecase}} </div>
            <div class="featuredcountry">{{destinations[1]?.TextLine3 | uppercase}}</div>
          </a>
      </div>
    </div>
  </div>
  <div class="box featured_destination3">
    <div class="img-wrapper">
      <img class="featured_img" src="http://wordoftravel.com/images/featuredlocations/{{tallDestination?.FeatureImage}}">
    </div>
    <div class="gradient">
      <div class="boxcontent3">
        <a href="wordoftravel{{tallDestination?.LinkPath}}" class="white-link">
          <div class="featuredlocation">{{tallDestination?.TextLine2 | titlecase}}</div>
          <div class="featuredcountry">{{tallDestination?.TextLine3 | uppercase}}</div>
        </a>
      </div>
    </div>
  </div>
  <div class="box featured_destination4">
    <div class="img-wrapper">
      <img class="featured_img" src="http://wordoftravel.com/images/featuredlocations/{{destinations[2]?.FeatureImage}}">
    </div>
    <div class="gradient">
      <div class="boxcontent">
        <a href="wordoftravel{{destinations[2]?.LinkPath}}" class="white-link">
        <div class="featuredlocation">{{destinations[2]?.TextLine2 | titlecase}} </div>
        <div class="featuredcountry">{{destinations[2]?.TextLine3 | uppercase}}</div>
        </a>
      </div>
    </div>
  </div>
  <div class="box featured_destination5">
    <div class="img-wrapper">
      <img class="featured_img" src="http://wordoftravel.com/images/featuredlocations/{{destinations[3]?.FeatureImage}}">
    </div>
    <div class="gradient">
      <div class="boxcontent">
        <a href="wordoftravel{{destinations[3]?.LinkPath}}" class="white-link">
        <div class="featuredlocation">{{destinations[3]?.TextLine2 | titlecase}} </div>
        <div class="featuredcountry">{{destinations[3]?.TextLine3 | uppercase}}</div>
        </a>
      </div>
    </div>
  </div>
  <div class="box featured_destination6">
    <div class="img-wrapper">
      <img class="featured_img" src="http://wordoftravel.com/images/featuredlocations/{{wideDestination?.FeatureImage}}">
    </div>
    <div class="gradient">
      <div class="boxcontent2">
          <a href="wordoftravel{{wideDestination?.LinkPath}}" class="white-link">
            <div class="featuredlocation">{{wideDestination?.TextLine2 | titlecase}}</div>
            <div class="featuredcountry">{{wideDestination?.TextLine3 | uppercase}}</div>
          </a>
      </div>
    </div>
  </div>
  <div class="box featured_destination7">
    <div class="img-wrapper">
      <img class="featured_img" src="http://wordoftravel.com/images/featuredlocations/{{destinations[4]?.FeatureImage}}">
    </div>
    <div class="gradient">
      <div class="boxcontent">
        <a href="wordoftravel{{destinations[4]?.LinkPath}}" class="white-link">
        <div class="featuredlocation">{{destinations[4]?.TextLine2 | titlecase}} </div>
        <div class="featuredcountry">{{destinations[4]?.TextLine3 | uppercase}}</div>
        </a>
      </div>
    </div>
  </div>
  <div class="box featured_destination8">
    <div class="img-wrapper">
      <img class="featured_img" src="http://wordoftravel.com/images/featuredlocations/{{destinations[5]?.FeatureImage}}">
    </div>
    <div class="gradient">
      <div class="boxcontent">
        <a href="wordoftravel{{destinations[5]?.LinkPath}}" class="white-link">
        <div class="featuredlocation">{{destinations[5]?.TextLine2 | titlecase}} </div>
        <div class="featuredcountry">{{destinations[5]?.TextLine3 | uppercase}}</div>
        </a>
      </div>
    </div>
  </div>

  <div class="box featured_destination9">

    <div class="box-mobile-carousel">

      <div class="text-center">
        <img class="img-fluid image-carousel-mobile" src="./assets/img/img_des3.jpg" alt="" />
      </div>

      <div class="color-carousel-destination">
        <a href="#">
          <div class="box-mobile-txt">
            MORE DESTINATIONS
          </div>
        </a>
      </div>

    </div>
  </div>

</div>
