<section class="project-area section-gap" id="featured">
  <hr class="mb-80" />
  <div class="travelarticles">
    <div class="boxart d-flex">

      <div class="row no-margin col-md-9 col-12">
        <div class="row no-margin titlecolor1 ">FEATURED
          <div class="titlecolor">&nbsp; DESTINATIONS</div>
        </div>

      </div>
      <div class="col-md-3 col-12">
        <div class="mb-30 buttonright">
          <a href="#secvice" class="btn-titleright">MORE DESTINATIONS</a>
        </div>
      </div>
    </div>

    <div class="wrapper1 mb-60">
      <div class="box featured_destination1">
        <div class="img-wrapper">
          <img class="featured_img" src="https://d2aixmiphfue7s.cloudfront.net/fimages/{{destinations[0].FeatureImage}}">
        </div>
        <div class="gradient">
          <div class="boxcontent">
            <div class="featuredtitle">{{destinations[0].TextLine1}}</div>
            <div class="featuredlocation">{{destinations[0].LocationName | uppercase}}</div>
            <div class="featuredcountry">{{destinations[0].TextLine3 | uppercase}}</div>
          </div>
        </div>
      </div>

      <div class="box featured_destination2">
        <div class="img-wrapper">
          <img class="featured_img" src="https://d2aixmiphfue7s.cloudfront.net/fimages/{{destinations[1].FeatureImage}}">
        </div>
        <div class="gradient">
          <div class="boxcontent">
            <div class="featuredtitle">{{destinations[1].TextLine1}}</div>
            <div class="featuredlocation">{{destinations[1].LocationName | uppercase}}</div>
            <div class="featuredcountry">{{destinations[1].TextLine3 | uppercase}}</div>
          </div>
        </div>
      </div>
      <div class="box featured_destination3">
        <div class="img-wrapper">
          <img class="featured_img" src="https://d2aixmiphfue7s.cloudfront.net/fimages/{{tallDestination.FeatureImage}}">
        </div>
        <div class="gradient">
          <div class="boxcontent">
            <div class="featuredtitle">{{tallDestination.TextLine1}}</div>
            <div class="featuredlocation">{{tallDestination.LocationName | uppercase}}</div>
            <div class="featuredcountry">{{tallDestination.TextLine3 | uppercase}}</div>
          </div>
        </div>
      </div>

      <div class="box featured_destination4">
        <div class="img-wrapper">
          <img class="featured_img" src="https://d2aixmiphfue7s.cloudfront.net/fimages/{{destinations[2].FeatureImage}}">
        </div>
        <div class="gradient">
          <div class="boxcontent">
            <div class="featuredtitle">{{destinations[2].TextLine1}}</div>
            <div class="featuredlocation">{{destinations[2].LocationName | uppercase}}</div>
            <div class="featuredcountry">{{destinations[2].TextLine3 | uppercase}}</div>
          </div>
        </div>
      </div>

      <div class="box featured_destination5">
        <div class="img-wrapper">
          <img class="featured_img" src="https://d2aixmiphfue7s.cloudfront.net/fimages/{{destinations[3].FeatureImage}}">
        </div>
        <div class="gradient">
          <div class="boxcontent">
            <div class="featuredtitle">{{destinations[3].TextLine1}}</div>
            <div class="featuredlocation">{{destinations[3].LocationName | uppercase}}</div>
            <div class="featuredcountry">{{destinations[3].TextLine3 | uppercase}}</div>
          </div>
        </div>
      </div>

      <div class="box featured_destination6">
        <div class="img-wrapper">
          <img class="featured_img" src="https://d2aixmiphfue7s.cloudfront.net/fimages/{{wideDestination.FeatureImage}}">
        </div>
        <div class="gradient">
          <div class="boxcontent">
            <div class="featuredtitle">{{wideDestination.TextLine1}}</div>
            <div class="featuredlocation">{{wideDestination.LocationName | uppercase}}</div>
            <div class="featuredcountry">{{wideDestination.TextLine3 | uppercase}}</div>
          </div>
        </div>
      </div>

      <div class="box featured_destination7">
        <div class="img-wrapper">
          <img class="featured_img" src="https://d2aixmiphfue7s.cloudfront.net/fimages/{{ destinations[4].FeatureImage}}">
        </div>
        <div class="gradient">
          <div class="boxcontent">
            <div class="featuredtitle">{{destinations[3].TextLine1}}</div>
            <div class="featuredlocation">{{destinations[3].LocationName | uppercase}}</div>
            <div class="featuredcountry">{{destinations[3].TextLine3 | uppercase}}</div>
          </div>
        </div>
      </div>

      <div class="box featured_destination8">
        <div class="img-wrapper">
          <img class="featured_img" src="https://d2aixmiphfue7s.cloudfront.net/fimages/{{ destinations[5].FeatureImage}}">
        </div>
        <div class="gradient">
          <div class="boxcontent">
            <div class="featuredtitle">{{destinations[5].TextLine1}}</div>
            <div class="featuredlocation">{{destinations[5].LocationName | uppercase}}</div>
            <div class="featuredcountry">{{destinations[5].TextLine3 | uppercase}}</div>
          </div>
        </div>
      </div>

    </div>
    <!-- End Featured Destination Area -->
  </div>
</section>
