<!-- Start Featured Destination Area -->

<section class="project-area section-gap" id="featured">
  <div class="travelarticles">
    <div class="boxart d-flex">

      <div class="row no-margin col-md-9 col-12">
        <div class="row no-margin titlecolor1 ">EXPLORE GREAT
          <div class="titlecolor">&nbsp; DESTINATIONS</div>
        </div>

      </div>
      <div class="col-md-3 col-12">
        <div class="mb-30 buttonright">
          <a href="#secvice" class="btn-titleright">MORE DESTINATIONS</a>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="wrapper1 mb-60">
  <div class="box featured_destination1">
    <div class="gradient">
      <div class="boxcontent">
        <div class="featuredtitle">Lorem ipsum dolor sit amet, consectetur nec risus adipiscing elit</div>
        <div class="featuredlocation">MAIN LOCATION </div>
        <div class="featuredcountry">CITY, COUNTRY</div>
      </div>
    </div>
  </div>
  <div class="box featured_destination2">
    <div class="gradient">
      <div class="boxcontent">
        <div class="featuredtitle">Lorem ipsum dolor sit amet, consectetur nec risus adipiscing elit</div>
        <div class="featuredlocation">MAIN LOCATION </div>
        <div class="featuredcountry">CITY, COUNTRY</div>
      </div>
    </div>
  </div>
  <div class="box featured_destination3">
    <div class="gradient">
      <div class="boxcontent3">
        <div class="featuredtitle">Lorem ipsum dolor sit amet, consectetur nec risus adipiscing elit</div>
        <div class="featuredlocation">MAIN LOCATION </div>
        <div class="featuredcountry">CITY, COUNTRY</div>
      </div>
    </div>
  </div>
  <div class="box featured_destination4">
    <div class="gradient">
      <div class="boxcontent">
        <div class="featuredtitle">Lorem ipsum dolor sit amet, consectetur nec risus adipiscing elit</div>
        <div class="featuredlocation">MAIN LOCATION </div>
        <div class="featuredcountry">CITY, COUNTRY</div>
      </div>
    </div>
  </div>
  <div class="box featured_destination5">
    <div class="gradient">
      <div class="boxcontent">
        <div class="featuredtitle">Lorem ipsum dolor sit amet, consectetur nec risus adipiscing elit</div>
        <div class="featuredlocation">MAIN LOCATION </div>
        <div class="featuredcountry">CITY, COUNTRY</div>
      </div>
    </div>
  </div>
  <div class="box featured_destination6">
    <div class="gradient">
      <div class="boxcontent2">
        <div class="featuredtitle">Lorem ipsum dolor sit amet, consectetur nec risus adipiscing elit</div>
        <div class="featuredlocation">MAIN LOCATION </div>
        <div class="featuredcountry">CITY, COUNTRY</div>
      </div>
    </div>
  </div>
  <div class="box featured_destination7">
    <div class="gradient">
      <div class="boxcontent">
        <div class="featuredtitle">Lorem ipsum dolor sit amet, consectetur nec risus adipiscing elit</div>
        <div class="featuredlocation">MAIN LOCATION </div>
        <div class="featuredcountry">CITY, COUNTRY</div>
      </div>
    </div>
  </div>
  <div class="box featured_destination8">
    <div class="gradient">
      <div class="boxcontent">
        <div class="featuredtitle">Lorem ipsum dolor sit amet, consectetur nec risus adipiscing elit</div>
        <div class="featuredlocation">MAIN LOCATION </div>
        <div class="featuredcountry">CITY, COUNTRY</div>
      </div>
    </div>
  </div>
</div>
<!-- End Featured Destination Area -->