/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */

@import "~@ng-select/ng-select/themes/default.theme.css";
/*@import "~@ng-select/ng-select/themes/material.theme.css";*/

@import "~font-awesome/css/font-awesome.css";
/* override default css */

.ng-select .ng-select-container {
  border: none;
}

.ng-dropdown-panel {
  line-height: none;
  height: min-content;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
  top: 0;
}

.ng-select .ng-select-container .ng-value-container .ng-input>input {
  color: #063160;
  font-size: 22px !important;
  font-family: "Raleway";
  font-weight: 700;
  width: auto !important;
  cursor: pointer !important;
}

.ng-select .ng-arrow-wrapper {
  display: none;
}

.ng-dropdown-panel .scroll-host {
  overflow-y: hidden !important;
}

.ng-option-label {
  border-color: white;
  color: #063160;
  font-size: 22px !important;
  font-family: "Raleway";
  font-weight: 700;
  margin-left: 44px !important;
  z-index: 2;
  width: auto !important;
  text-align: left;
}

.ng-dropdown-panel.ng-select-bottom {
  z-index: 1;
  border-top-color: none;
  border-bottom-left-radius: 0.50rem;
  border-bottom-right-radius: 0.50rem;
  width: 100% !important;
  left: 0 !important;
  text-align: left;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: -7px;
}

.ng-dropdown-panel {
  border: none;
  display: block;
  opacity: 0.98 !important;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -ms-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: unset !important;
  color: #000000;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  border-bottom: 1px solid #DDDDDD;
  padding: 0px 0px;
  background-color: transparent;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option:last-child {
  border-bottom: unset;
}

.ng-select .ng-select-container .ng-value-container .ng-placeholder {
  color: #063160;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-disabled {
  color: #063160;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container,
.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
  color: #063160 !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-disabled {
  color: #063160;
  margin-left: 70px !important;
}

#search-button[_ngcontent-c9] {
  box-shadow: none;
}

.ng-select.ng-select-single .ng-select-container {
  background: transparent;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup {
  border-bottom: 1px solid #DDDDDD;
  color: #020d1a !important;
}

@media (max-width: 580px) {
  .ng-dropdown-panel.ng-select-bottom {
    margin-top: 45px !important;
    border-top-left-radius: 0rem !important;
    border-top-right-radius: 0rem !important;
  }
  .ng-option-label {
    font-size: 18px !important;
  }

}

@media (max-width: 992px) {
  .ng-option-label {
    margin-left: 10.3% !important;
}
}

@media (max-width: 768px) {
  .ng-option-label {
    margin-left: 6.2% !important;
}
}

@media (max-width: 502px) {
.ng-option-label {
  margin-left: 4% !important;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-disabled {
  margin-left: 56px !important;
}
.ng-select .ng-select-container .ng-value-container .ng-input>input {
  margin-top: 2px;
  font-size: 18px !important;
}
}

@media (max-width: 415px) {
.ng-option-label {
  margin-left: 5% !important;
}
}

@media (max-width: 361px) {
.ng-option-label {
  margin-left: 6% !important;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-disabled {
  margin-left: 70px !important;
}

}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-child {
  padding-left: 40px;
}